<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width'>
    <title>Privacy Policy</title>
    <style>
        body {
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            padding: 1em;
        }
    </style>
</head>

<body>

    <p>
        <a href="#">[English]</a>
        <a href="#pt-BR">[Português (Portuguese)]</a>
    </p>

    <strong>Privacy Policy</strong>
    <p>
        Mark Presence built the Mark Presence app as
        an Ad Supported app. This SERVICE is provided by
        Mark Presence at no cost and is intended for use as
        is.
    </p>
    <p>
        This page is used to inform visitors regarding our
        policies with the collection, use, and disclosure of Personal
        Information if anyone decided to use our Service.
    </p>
    <p>
        If you choose to use our Service, then you agree to
        the collection and use of information in relation to this
        policy. The Personal Information that we collect is
        used for providing and improving the Service. We will not use or share your information with
        anyone except as described in this Privacy Policy.
    </p>
    <p>
        The terms used in this Privacy Policy have the same meanings
        as in our Terms and Conditions, which is accessible at
        Mark Presence unless otherwise defined in this Privacy Policy.
    </p>
    <p><strong>Information Collection and Use</strong></p>
    <p>
        For a better experience, while using our Service, we
        may require you to provide us with certain personally
        identifiable information, including but not limited to Name, Addresses, Asset information, Employment
        information, Education information. The information that
        we request will be retained by us and used as described in this privacy policy.
    </p>
    <div>
        <p>
            The app does use third party services that may collect
            information used to identify you.
        </p>
        <p>
            Link to privacy policy of third party service providers used
            by the app
        </p>
        <ul>
            <li><a href="https://www.google.com/policies/privacy/" target="_blank" rel="noopener noreferrer">Google Play
                    Services</a></li>
            <li><a href="https://support.google.com/admob/answer/6128543?hl=en" target="_blank"
                    rel="noopener noreferrer">AdMob</a></li>
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <li><a href="https://expo.io/privacy" target="_blank" rel="noopener noreferrer">Expo</a></li>
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
        </ul>
    </div>
    <p><strong>Log Data</strong></p>
    <p>
        We want to inform you that whenever you
        use our Service, in a case of an error in the app
        we collect data and information (through third party
        products) on your phone called Log Data. This Log Data may
        include information such as your device Internet Protocol
        (“IP”) address, device name, operating system version, the
        configuration of the app when utilizing our Service,
        the time and date of your use of the Service, and other
        statistics.
    </p>
    <p><strong>Cookies</strong></p>
    <p>
        Cookies are files with a small amount of data that are
        commonly used as anonymous unique identifiers. These are sent
        to your browser from the websites that you visit and are
        stored on your device's internal memory.
    </p>
    <p>
        This Service does not use these “cookies” explicitly. However,
        the app may use third party code and libraries that use
        “cookies” to collect information and improve their services.
        You have the option to either accept or refuse these cookies
        and know when a cookie is being sent to your device. If you
        choose to refuse our cookies, you may not be able to use some
        portions of this Service.
    </p>
    <p><strong>Service Providers</strong></p>
    <p>
        We may employ third-party companies and
        individuals due to the following reasons:
    </p>
    <ul>
        <li>To facilitate our Service;</li>
        <li>To provide the Service on our behalf;</li>
        <li>To perform Service-related services; or</li>
        <li>To assist us in analyzing how our Service is used.</li>
    </ul>
    <p>
        We want to inform users of this Service
        that these third parties have access to your Personal
        Information. The reason is to perform the tasks assigned to
        them on our behalf. However, they are obligated not to
        disclose or use the information for any other purpose.
    </p>
    <p><strong>Security</strong></p>
    <p>
        We value your trust in providing us your
        Personal Information, thus we are striving to use commercially
        acceptable means of protecting it. But remember that no method
        of transmission over the internet, or method of electronic
        storage is 100% secure and reliable, and we cannot
        guarantee its absolute security.
    </p>
    <p><strong>Links to Other Sites</strong></p>
    <p>
        This Service may contain links to other sites. If you click on
        a third-party link, you will be directed to that site. Note
        that these external sites are not operated by us.
        Therefore, we strongly advise you to review the
        Privacy Policy of these websites. We have
        no control over and assume no responsibility for the content,
        privacy policies, or practices of any third-party sites or
        services.
    </p>
    <p><strong>Children’s Privacy</strong></p>
    <p>
        These Services do not address anyone under the age of 13.
        We do not knowingly collect personally
        identifiable information from children under 13 years of age. In the case
        we discover that a child under 13 has provided
        us with personal information, we immediately
        delete this from our servers. If you are a parent or guardian
        and you are aware that your child has provided us with
        personal information, please contact us so that
        we will be able to do necessary actions.
    </p>
    <p><strong>Changes to This Privacy Policy</strong></p>
    <p>
        We may update our Privacy Policy from
        time to time. Thus, you are advised to review this page
        periodically for any changes. We will
        notify you of any changes by posting the new Privacy Policy on
        this page.
    </p>
    <p>This policy is effective as of 2021-07-26</p>
    <p><strong>Contact Us</strong></p>
    <p>
        If you have any questions or suggestions about our
        Privacy Policy, do not hesitate to contact us at williamdiasifnmg@gmail.com.
    </p>
    <p>This privacy policy page was created at <a href="https://privacypolicytemplate.net" target="_blank"
            rel="noopener noreferrer">privacypolicytemplate.net </a>and modified/generated by <a
            href="https://app-privacy-policy-generator.nisrulz.com/" target="_blank" rel="noopener noreferrer">App
            Privacy Policy Generator</a></p>

    <hr />
    <div id="pt-BR"></div>

    <p><strong>Política de Privacidade</strong></p>

    <p>Mark Presence construiu o aplicativo Mark Presence como um aplicativo com suporte para anúncios. Este SERVIÇO é
        fornecido pela Mark Presence sem nenhum custo e deve ser usado no estado em que se encontra.</p>

    <p>Esta página é usada para informar os visitantes sobre nossas políticas de coleta, uso e divulgação de Informações
        Pessoais, caso alguém decida usar nosso Serviço.</p>

    <p>Se você optar por usar nosso Serviço, você concorda com a coleta e uso de informações em relação a esta política.
        As informações pessoais que coletamos são usadas para fornecer e melhorar o serviço. Não usaremos ou
        compartilharemos suas informações com ninguém, exceto conforme descrito nesta Política de Privacidade.</p>

    <p>Os termos usados ​​nesta Política de Privacidade têm os mesmos significados que em nossos Termos e Condições, que
        podem ser acessados ​​no Mark Presence, a menos que definido de outra forma nesta Política de Privacidade.</p>

    Coleta e uso de informações

    <p>Para uma melhor experiência, ao usar nosso Serviço, podemos exigir que você nos forneça certas informações de
        identificação pessoal, incluindo, mas não se limitando a Nome, Endereços, Informações de Ativos, Informações de
        Emprego, Informações de Educação. As informações que solicitamos serão retidas por nós e usadas conforme
        descrito nesta política de privacidade.</p>

    <p>O aplicativo usa serviços de terceiros que podem coletar informações usadas para identificá-lo.</p>

    <p>Link para a política de privacidade de provedores de serviços terceirizados usados ​​pelo aplicativo</p>
    <ul>
        <li><a href="https://www.google.com/policies/privacy/" target="_blank" rel="noopener noreferrer">Serviços do
                Google Play</a></li>
        <li><a href="https://support.google.com/admob/answer/6128543?hl=en" target="_blank"
                rel="noopener noreferrer">AdMob</a></li>
        <li><a href="https://expo.io/privacy" target="_blank" rel="noopener noreferrer">Expo</a></li>
    </ul>
    <p><strong>Dados de registro</strong></p>

    <p>Queremos informá-lo que sempre que você utilizar nosso Serviço, em caso de erro no aplicativo, coletamos dados e
        informações (por meio de produtos de terceiros) em seu telefone denominado Log Data. Estes dados de registro
        podem incluir informações como endereço de protocolo de Internet ("IP") do dispositivo, nome do dispositivo,
        versão do sistema operacional, configuração do aplicativo ao utilizar nosso serviço, hora e data de uso do
        serviço e outras estatísticas .</p>

    <p><strong>Cookies</strong></p>

    <p>Cookies são arquivos com uma pequena quantidade de dados que são comumente usados ​​como identificadores
        exclusivos anônimos. Eles são enviados para o seu navegador a partir dos sites que você visita e são armazenados
        na memória interna do seu dispositivo.</p>

    <p>Este Serviço não usa esses “cookies” explicitamente. No entanto, o aplicativo pode usar código de terceiros e
        bibliotecas que usam “cookies” para coletar informações e melhorar seus serviços. Você tem a opção de aceitar ou
        recusar esses cookies e saber quando um cookie está sendo enviado para o seu dispositivo. Se você optar por
        recusar nossos cookies, pode não ser capaz de usar algumas partes deste Serviço.</p>

    <p><strong>Provedores de serviço</strong></p>

    <p>Podemos empregar empresas terceirizadas e indivíduos pelos seguintes motivos:</p>
    <ul>
        <li>Para facilitar nosso serviço;</li>
        <li>Para fornecer o Serviço em nosso nome;</li>
        <li>Para realizar serviços relacionados com o serviço; ou</li>
        <li>Para nos ajudar a analisar como nosso serviço é usado.</li>
    </ul>
    <p>Queremos informar aos usuários deste Serviço que esses terceiros têm acesso às suas Informações Pessoais. O
        motivo é realizar as tarefas atribuídas a eles em nosso nome. No entanto, eles são obrigados a não divulgar ou
        usar as informações para qualquer outra finalidade.</p>

    <p><strong>Segurança</strong></p>

    <p>Valorizamos sua confiança em nos fornecer suas informações pessoais, portanto, estamos nos esforçando para usar
        meios comercialmente aceitáveis ​​de protegê-las. Mas lembre-se que nenhum método de transmissão pela internet,
        ou método de armazenamento eletrônico é 100% seguro e confiável, e não podemos garantir sua segurança absoluta.
    </p>

    <p><strong>Links para outros sites</strong></p>

    <p>Este serviço pode conter links para outros sites. Se você clicar em um link de terceiros, será direcionado a esse
        site. Observe que esses sites externos não são operados por nós. Portanto, recomendamos enfaticamente que você
        analise a Política de Privacidade desses sites. Não temos controle e não assumimos responsabilidade pelo
        conteúdo, políticas de privacidade ou práticas de quaisquer sites ou serviços de terceiros.</p>

    <p><strong>Privacidade das crianças</strong></p>

    <p>Esses Serviços não se dirigem a ninguém com menos de 13 anos. Não coletamos intencionalmente informações de
        identificação pessoal de crianças com menos de 13 anos. No caso de descobrirmos que uma criança menor de 13 anos
        nos forneceu informações pessoais, nós as apagamos imediatamente de nossos servidores. Se você é um pai ou
        responsável e sabe que seu filho nos forneceu informações pessoais, entre em contato para que possamos tomar as
        medidas necessárias.</p>

    <p><strong>Mudanças nesta Política de Privacidade</strong></p>

    <p>Podemos atualizar nossa Política de Privacidade de tempos em tempos. Portanto, é recomendável revisar esta página
        periodicamente para verificar quaisquer alterações. Iremos notificá-lo de quaisquer alterações, publicando a
        nova Política de Privacidade nesta página.</p>

    <p>Esta política entra em vigor em 26/07/2021</p>

    <p><strong>Contate-Nos</strong></p>

    <p>Se você tiver alguma dúvida ou sugestão sobre nossa Política de Privacidade, não hesite em nos contatar em
        williamdiasifnmg@gmail.com.</p>

    <p>Esta página de política de privacidade foi criada em <a href="https://privacypolicytemplate.net" target="_blank"
            rel="noopener noreferrer">privacypolicytemplate.net </a> e modificada / gerada pelo <a
            href="https://app-privacy-policy-generator.nisrulz.com/" target="_blank" rel="noopener noreferrer">App
            Privacy Policy Generator</a></p>
</body>


</html>